
    <div class="container">
        <h1>About Facebook</h1>
        <p class = "lead">Founded in 2004, Facebook’s mission is to give people the power to share and make the world more open and connected. People use Facebook to stay connected with friends and family, to discover what’s going on in the world, and to share and express what matters to them.</p>

        <p>By clicking the "Grab Data" button below, you can see information about your Facebook account, pulled using the Facebook Graph API.  You will be directed to Facebook for authentication, and then redirected back to this page.</p>

        <a href = "/auth/facebook"><button type="button" class="btn btn-primary">Grab Data</button></a>
    </div>

        <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js"></script>