
    <div class="container">
      	<h1>This is the Welcome Page</h1>
        <p> Click below to start learning more about your Facebook or Twitter profile. </p>
        <a href = "/fbintro">Learn more about Facebook</a> 
        <br>
        <a href = "/twitintro">Learn more about Twitter</a>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js"></script>
 