
<div class="container">
    <h1>About Twitter</h1>
    <p class = "lead">Twitter helps you create and share ideas and information instantly, without barriers.  Twitter is the best way to connect with people, express yourself and discover what's happening. </p>

    <p>By clicking the "Grab Data" button below, you will see the most recent tweets from your Twitter account, as well as your screenname, pulled using the Twitter REST API.  You will be directed to Twitter for authentication, and then redirected back to this page.</p>

    <a href = "/auth/twitter"><button type="button" class="btn btn-primary">Grab Data</button></a>
</div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js"></script>