#graph{
  width: 100%;
  height: 400px; 
  background: white;
}

#pause{
margin-top: 8px;
margin-right: 1px;
}

.fb-user {
  margin-top: 15px;
  padding-bottom: 60px
}

.gdimensions{
  width:100%;
  height: 400px;
}

.loading-img{
  margin-top: 163px;
}